
#btnAbr,#btnAct,#btnAgr,#btnBus,#btnCop,#btnDup,#btnEli,#btnExp,#btnGua,#btnImp,#btnImp,#btnMod,
#btnNue,#btnPeg,#btnVis,#btnAce,#btnAnt,#btnApl,#btnAyu,#btnCan,#btnLim,#btnSal,#btnSig,#btnAnu{ margin:5 auto;}
#infoBoton{ padding:10 10 10 10;}

#tablaContenido{ width:100%; font-family:"Geotype TT","Times New Roman", Times, serif;}
#tablaContenido td{padding:5 5 5 5;}